*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
}

.section {
  height: 100%;
  width: 50%;
  margin: 20px auto;

  .title {
    font-size: 30px;

    margin-bottom: 10px;
  }
}
